:root {
    --main-bg-color: #0F0E0E;
    --dark-accent-color: #541212;
    --light-accent-color: #468A9A; 
    --text-color: #EEEEEE;
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: var(--text-color);
    background-color: var(--main-bg-color);
    width: 100vw;
    height: 100vh;
    font-size: clamp(.5em, 1vw + 0.7em, 1.2em);
    font-family: "Allerta Stencil", sans-serif;
}

header {
    background-color: var(--dark-accent-color);
    grid-row: 1 / 1;
}

header > h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: .5em;
}

a {
    color: orange;
    text-decoration: none;
}

main {
    grid-row: 2 / 2;
    background-color: var(--light-accent-color);
    padding: 1em;
}

footer {
    grid-row: 3 / 3;
    background-color: var(--dark-accent-color);
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}
