:root {
    --main-bg-color: #0F0E0E;
    --dark-accent-color: #541212;
    --light-accent-color: #468A9A; 
    --text-color: #EEEEEE;
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: var(--text-color);
    background-color: var(--main-bg-color);
    width: 100vw;
    height: 100vh;
    font-size: clamp(.5em, 1vw + 0.7em, 1.2em);
    font-family: "Allerta Stencil", sans-serif;
}

header {
    background-color: var(--dark-accent-color);
    grid-row: 1 / 1;
}

header > h1 {
    text-align: center;
    color: var(--light-accent-color);
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: .5em;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: peachpuff;
}

main {
    grid-row: 2 / 2;
    padding: 1em;
    justify-self: center;
    width: 85%;
}

.articleWrapper {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.articleWrapper > article {
    border-top: 3px solid white;
    border-right: 2px solid var(--light-accent-color);
    padding: .5em;
    width: 160px;
    height: 200px;
    margin-top: 2em;

}

footer {
    grid-row: 3 / 3;
    background-color: var(--dark-accent-color);
    padding: .3em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

footer > a {
    color: var(--light-accent-color);
}


@media (min-width: 576px) {
}

@media (min-width: 768px) {
    main {
        width: 80%;
    }
    .articleWrapper {
        gap: 6em;
    }

    .articleWrapper > article {
        width: 240px;
    }
}

@media (min-width: 992px) {
    main {
        width: 70%;
    }

    .articleWrapper {
        gap: 8em;
    }

    .articleWrapper > article {
        width: 270px;
    }
}

@media (min-width: 1200px) {
    main {
        width: 70%;
    }

    .articleWrapper {
        gap: 10em;
    }

    .articleWrapper > article {
        width: 300px;
    }
}
